{% extends 'base.html' %}

{% block content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Type Chars</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for personality in personalities %}
        <tr>
            <td>{{ personality.mbtitype }}</td>
            <td>{{ personality.name }}</td>
            <td>{{ personality.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}